#gdsc{
    width:50px;
    height:50px;
}
.container{
    width:400px;
}
.up_input{
    display:flex;
    flex-direction: column;
}
.info_sec1{
    width:300px;
    margin:0 auto;
}
.input1{
    border:solid 1px rgb(103, 95, 95);
    border-radius: 5%;
    padding-left: 30px;

}
.input2{
    border:solid 1px rgb(103, 95, 95);
    border-radius: 5%;
    padding-left: 30px;

}

.info_sec2{
    width:300px;
    margin:0 auto;
}
.up_input2{
    display:flex;
    flex-direction: column;
}
#login{
    background-color: lawngreen;
}
.a{
    position:relative;
}
.a i{
    position: absolute;
    left:5px;
    transform: translateY(+50%);
}

