.list-group {
  display: none;
}

.show {
  display: block;
}

.hide-model {
  display: none;
}

.main-bg {
  padding: 100px 20px;
  background-color: lightgray;
}

.white-bg {
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  position: fixed;
  z-index: 5;
}
